






{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Wrapper -->
<div id="wrapper" style="background-color: #ffffff;">




                <div class="container">
                    <div id="main" class="gradient">
                            <article class="post" style="border: none;">
                                <div class="arktitle">
                                    <h1>注销成功</h1>
                                </div>

						<p>注销已经成功，当然您可以 <a href="{% url "login" %}">重新登录</a>.</p>
						


            </article><!--end Post -->
        </div><!-- end main -->
    </div><!-- end container -->


</div>


{% endblock %}
