
{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}





{% block content %}

<!-- Wrapper -->
<div id="wrapper" style="background-color: #ffffff;">




                <div class="container">
                    <div id="main" class="gradient">
                            <article class="post" style="border: none;">
                                <div class="arktitle">
                                	 <h1>密码修改</h1>
                                    
                                </div>

							  <form action="." method="post">
							    {{ form.as_p }}
							    <p><input type="submit" value="Change"></p>
							    {% csrf_token %}
							  </form>

            </article><!--end Post -->
        </div><!-- end main -->
    </div><!-- end container -->


</div>


{% endblock %}
