

{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Wrapper -->
<div id="wrapper" style="background-color: #ffffff;">




                <div class="container">
                    <div id="main" class="gradient">
                            <article class="post" style="border: none;">
                                <div class="arktitle">
                                    <h1>重置密码</h1>
                                </div>
                               
  <p>你的密码重置成功，前往<a href="{% url "login" %}">登录</a></p>
                        </div>

            </article><!--end Post -->
        </div><!-- end main -->
    </div><!-- end container -->


</div>


{% endblock %}













