
{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Wrapper -->
<div id="wrapper" style="background-color: #ffffff;">




                <div class="container">
                    <div id="main" class="gradient">
                            <article class="post" style="border: none;">
                                <div class="arktitle">
                                    <h1>重置密码</h1>
                                </div>
                                {% if validlink %}
                                    <p>Please enter your new password twice:</p>
                                    <form action="." method="post">
                                      {{ form.as_p }}
                                      {% csrf_token %}
                                      <p><input type="submit" value="Change my password" /></p>
                                    </form>
                                  {% else %}
                                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                                  {% endif %}
                        </div>

            </article><!--end Post -->
        </div><!-- end main -->
    </div><!-- end container -->


</div>


{% endblock %}











