
{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Wrapper -->
<div id="wrapper" style="background-color: #ffffff;">




                <div class="container">
                    <div id="main" class="gradient">
                            <article class="post" style="border: none;">
                                <div class="arktitle">
                                    <h1>重置密码</h1>
                                </div>



  
                      <p>我们已经向你的邮箱发送了一封邮件，请前往查看并链接注册</p>
                      <p>如果您没有收到请确定是否发错邮箱或者在垃圾箱查看.</p>

                        </div>

            </article><!--end Post -->
        </div><!-- end main -->
    </div><!-- end container -->


</div>


{% endblock %}











