
{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Wrapper -->
<div id="wrapper" style="background-color: #ffffff;">




                <div class="container">
                    <div id="main" class="gradient">
                            <article class="post" style="border: none;">
                                <div class="arktitle">
                                    <h1>重置密码</h1>
                                </div>

                                  <form action="." method="post">
                                        {{ form.as_p }}
                                        <p><input type="submit" value="Send e-mail"></p>
                                        {% csrf_token %}
                                  </form>
                        </div>

            </article><!--end Post -->
        </div><!-- end main -->
    </div><!-- end container -->


</div>


{% endblock %}
