
{% load static %}
{% load blog_tags %}

{% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}


<!DOCTYPE html>
<html lang="zh-cn">
<head>

         <title>{% block title %}aimoon{% endblock %}</title>
        

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="baidu-site-verification" content="rWFC7H0Ycr" /> <!-- 百度站点seo HTML标签验证 -->


        
       <!-- 富文本编辑器CDN --> 
      <script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>

 <!-- blog继承 -->  

        <!--jiben主框架样式-->
        <!--[if lte IE 8]><script src="{% static 'blog/js/product1/jiben/ie/html5shiv.js' %}"></script><![endif]-->
        <link rel="stylesheet" href= "{% static 'blog/css/product1/jiben/main.css' %}" />
        <!--[if lte IE 9]><link rel="stylesheet" href= "{% static 'blog/css/product1/jiben/ie9.css' %}" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href= "{% static 'blog/css/product1/jiben/ie8.css' %}" /><![endif]-->


        <!--bootstrap样式-->
        <link href= "{% static 'blog/css/bootstrap/bootstrap.css' %}" rel="stylesheet" media="screen">
        <script src="{% static 'blog/js/bootstrap/jquery.js' %}"></script>
        <script src="{% static 'blog/js/bootstrap/bootstrap.min.js' %}"></script>

        <!-- font-awesome cdn字体图标 -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

         <!-- 按钮波纹 -->
        <link href="{% static 'blog/css/product1/jiben/ripple.css' %}" rel="stylesheet">


        <!-- list -->
            <script src="{% static "list/js/modernizr.custom.js" %}"></script>




        <!-- detail继承 -->
            <link rel="stylesheet" href="{% static "detail/css/reset.css"  %}"> <!-- CSS reset -->
            <link rel="stylesheet" href="{% static "detail/css/style.css"  %}"> <!-- Resource style -->
            <script src="{% static "detail/js/modernizr.js" %}"></script> <!-- Modernizr -->


        <style type="text/css">
           
                span.highlighted {
                    color: #f76d53;  
                }
           
        </style>



        <!-- input下拉地区选择 -->
        <link rel="stylesheet" href="{% static "blog/css/dts/aiainput/kuCity.css" %}">

        <!--页面加载start-->
        <link rel="stylesheet" type="text/css" href="{% static "blog/css/zujian/loading/loader.css" %}">


        <!-- 图钉插件开始 -->
                <link rel="stylesheet" type="text/css" href="{% static "blog/css/product1/tuding/style.css" %}"/>
        <!-- 图钉插件结束 -->



       
        <!--Youtube like progressbar code start-->
        <style>
        #progress {
        position: fixed;
        z-index: 2147483647;
        top: 0;
        left: -6px;
        width: 1%;
        height: 4px;
        background: linear-gradient(90deg, #ff1020 0%,#ff254b 50%, #ffa200 100%);
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        -moz-transition: width 10s ease-out,opacity 5s linear;
        -ms-transition: width 10s ease-out,opacity 5s linear;
        -o-transition: width 10s ease-out,opacity 5s linear;
        -webkit-transition: width 10s ease-out,opacity 5s linear;
        transition: width 10s ease-out,opacity 5s linear;
        }
        #progress dd, #progress dt {
        position: absolute;
        top: 0;
        height: 2px;
        -moz-box-shadow: #ff2a48 1px 0 6px 1px;
        -ms-box-shadow: #ff2a48 1px 0 6px 1px;
        -webkit-box-shadow: #ff2a48 1px 0 6px 1px;
        box-shadow: #ff2a48 1px 0 6px 1px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        }
        #progress dt {
        opacity: .6;
        width: 180px;
        right: -80px;
        clip: rect(-6px,90px,14px,-6px);
        }
        #progress dd {
        opacity: .6;
        width: 20px;
        right: 0;
        clip: rect(-6px,22px,14px,10px);
        }





          ._eoh76qi {
              position: relative !important;
              padding: 1px;
              height: 500px;
              background-size: cover !important;
              width: 100% !important;
              background-repeat: no-repeat !important;
              transition: opacity 1s !important;
          }



          @media (min-width: 744px){
          ._eoh76qi {
              position: relative !important;
              left: auto !important;
              background-position: center top !important;
          }



          }



</style>



        <script>
        jQuery(document).ready(function() {
        jQuery("body").append(jQuery("<div><dt/><dd/></div>").attr("id", "progress"));
        jQuery("#progress").width(100+ "%");
        jQuery("#progress").width("101%").delay(800).fadeOut(2000, function() {
        jQuery(this).remove();
        });
        });
        </script>
        <!--Youtube like progressbar code end-->



</head>







<body class="single" >




  {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert" style="font-size: 14px;font-weight: 500px;width: auto; height: 30px; margin: 2em 0;">
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">×</a>
                </li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}





<!-- 内容继承 -->

<!-- Wrapper -->
<div id="wrapper" style="background-color: #ffffff;">
    

{% block content %}




<nav class="navbar navbar-fixed-top my-navbar" role="navigation" style="color: #ffffff;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

               <a class="navbar-brand" href="/">
                <i class="fa fa-thumbs-o-up fa-2x"></i> aimoon
              </a>

            </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/list" target="_blank">全部头条</a></li>
                <li><a href="/home" target="_blank">黄金眼</a></li>
                


                <li class="dropdown" style="padding: 0em .5em;">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">发布</a>
                  <ul class="dropdown-menu" style="font-weight: 600; font-size: 18px;">

                    <li style="padding: 1em;">开始赚取收入吧</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="">发布文章</a></li>
                    <li><a href="">发布视频</a></li>               
                  </ul>
                </li>





                <li>
                      
                  {% if request.user.is_authenticated %}
                      <li><a style="cursor:pointer;" data-toggle="modal" data-target="#myModal">{{ request.user.first_name }}</a></li>
                      <li><a style="cursor:pointer;" href="{% url "logout" %}">注销</a></li>
                      {% else %}
                      <li><a style="cursor:pointer;" data-toggle="modal" data-target="#myModal">登录</a></li>
                  {% endif %}    
                </li>

              </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    










<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="tanchuangnanniu" class="close" data-dismiss="modal" aria-label="Close">
            <svg viewBox="0 0 24 24" role="img" aria-label="关闭" focusable="false" style="height: 16px; width: 16px; display: block; fill: rgb(118, 118, 118);">
            <path d="m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22" fill-rule="evenodd">
            </path>
            </svg>
        </button>
        
      </div>
      <div class="modal-body">
        <div class="container">
      <div class="row">
        <h2 class="shaixuanfont" style="display: block; text-align: center;">创造你的1699</h2>
      </div>
        
         <div class="row">
            <div class="shaixuanlist">        
            <div role="separator" class="divider"></div>
            {% if request.user.is_authenticated %}
                <h3 style="font-weight: 600; font-size: 16px; padding: 1em;">{{ request.user.first_name }}</h3>
                <div><a href="{% url "logout" %}">注销</a></div>
                {% else %}
                <div><a href="{% url "login" %}">登录</a></div>
                <div><a href="{% url "register" %}">注册</a></div>
            {% endif %}


           {% if request.user.is_authenticated %}
                            
              <div {% if section == "edit" %} class="selected" {% endif %}>
                  <a href="{% url "edit" %}">资料设置</a>
              </div>
              <div {% if section == "images" %} {{ request.user.photo }} class="selected" {% endif %}>
                  <a href="#">图像</a>
              </div>
              <div {% if section == "people" %} class="selected" {% endif %}>
                  <a href="#">用户</a>
              </div>
                            
            {% endif %}
         </div>
         </div> 

         </div>
      </div>
    </div>
  </div>
</div>














                            <div id="indexbg" class="hero-product-container" >
                                <video loop="" muted="" playsinline="" autoplay="" style="object-fit:cover; width: 100%;overflow: hidden;"><source type="video/mp4" src="https://z0.muscache.cn/v/76/07/76078ccb-c33d-4d25-aa9e-4fc4c7886633/bdcbe89cac105172b0faee8a2a064c76_8000k_1.mp4">
                                </video>

                                <div class="indexbg_font">
                                    <div style="margin-bottom:24px">
                                        <section>
                                            <div class="_ct1v4k4">
                                                    <h1 tabindex="-1" class="_tpbrp">美丽月球</h1>
                                            </div>
                                            <div class="_5bww6jd">免费经验分享平台</div>
                                        </section>
                                    </div>
                                       <button class="_jlbqs9x">
                                           <span>立即探索</span>
                                       </button>
                                </div>

                            </div>
                             
                       


    <div class="container">
        <div id="main" class="gradient">
            <article class="post" style="border: none;">



                                <header style="border: none; padding: 1em 0;">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                          <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                                            <div class="col-xs-8 col-md-10">
                                                  
                                                 <input type="text" placeholder="搜索拇指头条" class="search" data-live-search="true" id="basic" style="overflow-y: hidden;border:none;" autocomplete="off" name="q">
                                                      
                                            </div>

                                         
                                            <div class="col-xs-4 col-md-2">
                                                <button class="btn2 gradient ripple" style="color: #ffffff !important; border: 1px solid #eee !important;"  type="submit">搜索</button>
                                            </div>
                                            </form>
                                    </div>
                                 </div>
                        

                            </header>


               
            

                 <div class="row">
                        <div class="col-md-12">
                            <div class="_c0qx5fd">推荐搜索</div>  
                        </div> 
                </div> 


             <div class="tabs tabs-style-underline">
                    <nav>
                        <ul>
                            <li><a href="#section-linemove-1" class=""><span>分类</span></a></li>
                            <li><a href="#section-linemove-2" class=""><span>热门地区</span></a></li>
                            <li><a href="#section-linemove-3" class=""><span>新出炉</span></a></li>
                            <li><a href="#section-linemove-3" class=""><span>预约采访</span></a></li>
                        </ul>
                    </nav>
                    <div class="content-wrap">
                        <!--地区-->  
                            <section id="section-linemove-1">
                                <a href="/"  class="" >
                                    <div style="margin-top: 2px;">
                                       


                                   {% get_categories as category_list %}
                                     {% for category in category_list %}
                                        <a href="{% url 'blog:category' category.pk %}">             
                                        <div class="_1ftjwi4b">
                                            <div class="_j1qvyg">
                                            <div class="_1p2m1sm">
                                                <div class="_1paxf71">

                                                            <div class="_i1d4td">
                                                                <div class="_9tsxt7">
                                                                <div>
                                                                    <div class="_7duv9f5">
                                                                        <span class="_1ezogpo">
                                                                    
                                                                             
                                                                                   
                                                                         {{ category.name }} 
                                                                                   
                                                                                


                                                                        </span>
                                                                    </div>
                                                                 </div>
                                                                <div class="_1221viw">
                                                                 <div class="_sd9w31l"><span class="_1bfef4c">热门地区</span></div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                       

                                     </a>
                                     {% empty %}
                                         暂无分类！
                                   {% endfor %}

                            </div>
                            </a>
                        </section>
                        <!--热门村落-->  
                        <section id="section-linemove-2">
                           <a href="/"  class="" >
                                    <div style="margin-top: 2px;">
                                       
                                        


                                            {% get_tags as tag_list %}
                                            {% for tag in tag_list %}
                                            <a href="{% url 'blog:tag' tag.pk %}">

                                            <div class="_1ftjwi4b">
                                                <div class="_j1qvyg">
                                                <div class="_1p2m1sm">
                                                    <div class="_1paxf71">
                                                        <div class="_i1d5td">
                                                            <div class="_9tsxt7">
                                                                <div>
                                                                <div class="_7duv9f5">
                                                                    <span class="_1ezogpo">
                                                                        




                                                                        {{ tag.name }}
                                                                    






                                                                    </span>
                                                                </div>
                                                                </div>
                                                                <div class="_1221viw"><div class="_sd9w31l"><span class="_1bfef4c">本周热度</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>



                                            </a>
                                             {% empty %}
                                              暂无标签！
                                           {% endfor %}


                                    </div>
                                </a>
                        </section>
                        <!--新出炉-->  
                            <section id="section-linemove-3">
                                <a href="/"  class="" >
                                    <div style="margin-top: 2px;">
                                       

                                            {% get_recent_posts as recent_post_list %}
                                            {% for post in recent_post_list %}
                                            <a href="{{ post.get_absolute_url }}">
                                       
                                            <div class="_1ftjwi4b">
                                                <div class="_j1qvyg">
                                                <div class="_1p2m1sm">
                                                    <div class="_1paxf71">
                                                        <div class="_i1d6td">
                                                            <div class="_9tsxt7">
                                                                <div>
                                                                <div class="_7duv9f5">
                                                                    <span class="_1ezogpo">
                                                                    


                                                                        {{ post.title }}



                                                                     </span>
                                                                </div>
                                                                </div>
                                                                <div class="_1221viw"><div class="_sd9w31l"><span class="_1bfef4c">最新出炉</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>


                                            </a>
                                            {% empty %}
                                            暂无文章！
                                        {% endfor %}


                                        </div>
                                </a>
                            </section>
                        <section id="section-linemove-4">
                             
                        </section>
                    </div><!-- /content -->
                </div><!-- /tabs -->
                        
                    
  






            <div class="row">
                <div class="col-md-12">
                    <div class="_c0qx5fd">五味杂陈，尽在拇指头条</div>  
                </div> 
            </div>
       <div class="_11wkgye" style="display: block;">
                    <div class="_siy8gh">
                    <div class="_2h22gn">
                        {% for post in post_list %}
                        <div class="_2syc27g">
                            <div class="_15jw76w" style="border-radius: 4px;">
                                <div class="_1szwzht">
                                    <a href="{{ post.get_absolute_url }}">
                                    <div class="_6ikqekk" style="width: 100%; height: 100%; background-image: url({% if post.image %}{{ post.image.url }}{% else %}{% endif %});" >
                                        </div>
                                      </a>
                                </div>
                            </div>



                          <div style="margin-bottom:4px">
                            <div class="_190019aa">
                              <span class="_hlupyy"><a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
                                </span>
                            </div>
                          </div>

                        
                              <div style="margin-bottom:4px">
                                <div class="_190019zr">
                                  <span class="_hlupyy"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></span>
                                </div>
                              </div>


                              <div style="margin-bottom:8px">
                                <div class="_wbsbxz">
                                  <div class="_2q1l5fu">
                                    <span class="_1jj7gf6">{{ post.excerpt }}</span>
                                  </div>
                                </div>
                              </div>


                        </div>
                        
                        
                        {% empty %}
                        <div class="no-post">头条暂时为0，品味其他频道吧！</div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
 
          <div class="row">
                          <div class="col-md-12">
                              {% if is_paginated %}
                                          <div style="padding: 2em 0;">
                                              <ul class="pagination">
                                                  {% if first %}
                                                      <li><a href="?page=1">1</a></li>
                                                  {% endif %}
                                                  {% if left %}
                                                      {% if left_has_more %}
                                                          <li><span>...</span></li>
                                                      {% endif %}
                                                      {% for i in left %}
                                                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                      {% endfor %}
                                                  {% endif %}
                                                  <li class="current"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                                                  {% if right %}
                                                      {% for i in right %}
                                                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                      {% endfor %}
                                                      {% if right_has_more %}
                                                          <li><span>...</span></li>
                                                      {% endif %}
                                                  {% endif %}
                                                  {% if last %}
                                                      <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                                                  {% endif %}
                                              </ul>
                                          </div>
                                      {% endif %}
                          </div>
                      </div>



   
            </article><!--end Post -->
        </div><!-- end main -->
    </div><!-- end container -->




  <!-- 导航条滚动隐藏js -->
          <script>
            $(window).scroll(function () {
                if ($(".navbar").offset().top > 50) {$(".navbar-fixed-top").addClass("top-nav");
                }else {$(".navbar-fixed-top").removeClass("top-nav");}
            })
          </script>



{% endblock %}
</div>









<!-- 底部品牌继承 -->

      <!-- Footer -->
        <footer class="footer ">
        <div class="container">
          <div class="row footer-top">
            <div class="col-md-6 col-lg-6">
              <h4>
               
              </h4>
              <p></p>
            </div>
            <div class="col-md-6  col-lg-5 col-lg-offset-1">
              <div class="row about" aria-busy="false">
               
                <div class="col-sm-3">
                  <h4>栏目</h4>
                  <ul class="list-unstyled">
                    <li><a href="/hr/">拇指头条</a></li>
                    <li><a href="mailto:admin@bootcss.com">黄金眼</a></li>
                    <li><a href="/hr/">故事集</a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <h4>关于我们</h4>
                  <ul class="list-unstyled">
                    <li><a href="http://www.golaravel.com/" target="_blank">联系我们</a></li>
                    <li><a href="http://www.ghostchina.com/" target="_blank">最新招聘</a></li>
                    <li><a href="http://www.bootcdn.cn/" target="_blank">拇指理念</a></li>
                    <li><a href="https://www.return.net/" target="_blank">指南</a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <h4>商家合作</h4>
                  <ul class="list-unstyled">
                    <li><a href="https://www.jdcloud.com/" target="_blank">素材</a></li>
                    <li><a href="https://www.upyun.com" target="_blank">城市入驻</a></li>
                    <li><a href="https://www.upyun.com" target="_blank">商家入驻</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <hr>
          <div class="row footer-bottom">
            <ul class="list-inline text-center">
              <li><a href="http://www.miibeian.gov.cn/" target="_blank">黔ICP备11008151号</a></li><li>京公网安备11010802014853</li>
            </ul>
          </div>
        </div>
      </footer>








<script type="text/javascript">
        document.body.innerHTML = document.body.innerHTML.replace(/五味生活/ig,"<span style='color: #B4A76C;'>$&</span>");
        document.body.innerHTML = document.body.innerHTML.replace(/教育/ig,"<span style='color: #3fb34f;'>$&</span>");
        document.body.innerHTML = document.body.innerHTML.replace(/交通/ig,"<span style='color: #db3742;'>$&</span>");
        </script>



<!-- detail继承 -->

  <!--bootstrap select2筛选初始化插件 -->
            <script>
              $(document).ready(function () {
                var mySelect = $('#first-disabled2');

                $('#special').on('click', function () {
                  mySelect.find('option:selected').prop('disabled', true);
                  mySelect.selectpicker('refresh');
                });

                $('#special2').on('click', function () {
                  mySelect.find('option:disabled').prop('disabled', false);
                  mySelect.selectpicker('refresh');
                });
              });
            </script>


            <!-- tab轮播开始 -->
            <link rel="stylesheet" type="text/css" href= "{% static 'blog/css/dts/bootstrap-tabslider/tabs.css' %}" />
            <link rel="stylesheet" type="text/css" href= "{% static 'blog/css/dts/bootstrap-tabslider/tabstyles.css' %}"  />
            <!-- tab轮播插件 -->
            <script src="{% static 'blog/js/dts/bootstrap-tabslider/cbpFWTabs.js' %}"></script>
            <script>
                (function() {

                    [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
                        new CBPFWTabs( el );
                    });

                })();
            </script>


           

            <!-- jiben主框架js -->
                <script src="{% static 'blog/js/product1/jiben/jquery.min.js' %}"></script>
                <script src="{% static 'blog/js/product1/jiben/skel.min.js' %}"></script>
                <script src="{% static 'blog/js/product1/jiben/util.js' %}"></script>
                <!--[if lte IE 8]><script src="{% static 'blog/js/jiben/product1/ie/respond.min.js' %}"></script><![endif]-->
                <script src="{% static 'blog/js/product1/jiben/main.js' %}"></script>







          <!-- detail继承 -->
          <script src="{% static "detail/js/main.js" %}"></script> <!-- Resource jQuery -->




         


           
      <!-- 地区选择弹出插件 -->
              <script src="{% static "blog/js/dts/aiainput/kuCity.js" %}"></script>
              <script>
              $('.search').kuCity();
              $('.search3').kuCity();
              </script>




<!-- 加载更多插件 -->








</body>
</html>